@import '../../../styles/variables';

.skeletonRectangle {
   background: $grey;
   animation: grouplink 2s ease-in infinite;
   background: #FFF;

   & + & {
      margin-top: 10px;
   }
}

@keyframes grouplink {
   0% {background: #fff;}
   70% {background: #bbb;}
   100% {background: #fff;}
}
