@import '../../../styles/variables';

.skeletonRectangle {
   background: $grey;
   animation: rectangle 2s ease-in infinite;
   background: #FFF;

   & + & {
      margin-top: 10px;
   }
}

@keyframes rectangle {
   0% {background: #fff;}
   70% {background: #bbb;}
   100% {background: #fff;}
}
