@import '../../../styles/mixins';
@import '../../../styles/variables';
@import '../../../styles/index.scss';


.card {
   color: #fff;
   display: block;

   @include mobile-media-query-down('sm') {
      &:first-child {
         @include adaptive-value('margin-top', 10, 5, 3, map-get($breakpoints, 'sm'));
      }
   
      &:last-child {
         @include adaptive-value('margin-bottom', 10, 5, 3, map-get($breakpoints, 'sm'));
      }
   }
   
}

.cardBody {
   padding: 12px;
   padding-bottom: 20px;
   background: #333;
   width: auto !important;

   @include mobile-media-query-down('sm') {
      display: flex;
      align-items: center;
      @include adaptive-value('gap', 16, 12, 3, map-get($breakpoints, 'sm'));
      @include adaptive-value('padding-top', 10, 5, 3, map-get($breakpoints, 'sm'));
      @include adaptive-value('padding-bottom', 10, 5, 3, map-get($breakpoints, 'sm'));
      @include adaptive-value('padding-right', 20, 10, 3, map-get($breakpoints, 'sm'));
      @include adaptive-value('padding-left', 20, 10, 3, map-get($breakpoints, 'sm'));
      background: transparent;
   }
}

.cardInfo {
   flex-grow: 1;
}

.cardImage {
   @include mobile-media-query-up('sm') {
      padding-bottom: 100%;
      box-shadow: 0 8px 24px rgba(0, 0, 0, .5);
   }

   @include mobile-media-query-down('sm') {
      @include adaptive-value('width', 125, 85, 3, map-get($breakpoints, 'sm'));
      @include adaptive-value('height', 125, 85, 3, map-get($breakpoints, 'sm'));
   }
}

.cardTitle {
   margin: 0.8em 0 0.2em 0;
   font-size: 17px;

   @include mobile-media-query-down('sm') {
      margin: 0;
      @include adaptive-value('font-size', 23, 16, 3, map-get($breakpoints, 'sm'));
   }
}

.cardSubTitle {
   font-size: 14px;
   color: $brightGrey;

   @include mobile-media-query-down('sm') {
      @include adaptive-value('font-size', 18, 14, 3, map-get($breakpoints, 'sm'));
   }
}