@import '../../styles/variables';

@mixin colorize-heart($color) {
   transition: var(--hover);
   filter: drop-shadow(0 0 5px $color);

   .filled {
      stroke: $color;
      fill: $color;
   }
}

.heart {
   &.liked.pink {
      @include colorize-heart(var(--main-color));
   }

   &.liked.green {
      @include colorize-heart(var(--secondary-color));
   }

   &.green .filled {
      stroke: var(--secondary-color);
   }

   &.pink .filled {
      stroke: #fff;
   }

   &.grey .filled {
      stroke: var(--bright-grey);
      stroke-width: 7%;
   }
}

.filled {
   fill: transparent;
   stroke: white;
   stroke-width: 25px;
   transition: var(--hover);
}