@import '../../styles/variables';

.Spinner {
   display: inline-block;
   border-radius: 50%;
   border: 3px solid #ccc;
   border-top: 3px solid var(--main-color);
   animation: spinner .7s linear infinite;
}

@keyframes spinner {
   to {
      transform: rotate(360deg);
   }
}