@import '../../styles/variables';

.playlist {
   display: block;
   padding: 5px 0;
   cursor: pointer;
   transition: var(--hover);

   @media (any-hover: hover) {
      &:hover .playlistName {
         color: #fff;
         transition: var(--hover);
      }
   }

}

.playlistName {
   color: var(--bright-grey);
}