@import '../../styles/variables';

.button {
   display: inline-flex;
   align-items: center;
   padding: 5px 10px 5px 0;
   font-size: 17px;
   color: $brightGrey;
   transition: $hover;

   svg {
      margin-right: 7px;
      padding: 6px;
      background: $brightGrey;
      transition: $hover;
      path {stroke: #000 !important;}
   }

   @media (any-hover: hover) {
      &:hover {
         color: #fff;
         transition: $hover;
   
         svg {
            background: #fff;
            transition: $hover;
         }
      }
   }
}

.link {
   display: inline-flex;
   align-items: center;
   padding: 5px 10px 5px 0;
   font-size: 17px;
   color: $brightGrey;
   transition: $hover;

   svg {
      margin-right: 7px;
      padding: 5px;
   }

   @media (any-hover: hover) {
      &:hover {
         color: #fff;
         transition: $hover;
   
         svg {
            fill: #fff !important;
            path {stroke: #fff !important;}
         }
      }
   }
}