@import '../../styles/variables';
@import '../../styles/mixins';


.tableHeaderWrapper {
   position: relative;
   top: 60px;

   $greyStuck: #313131;

   &.stuck {
      background: $greyStuck;
      border-top: 1px solid var(--grey);
      z-index: 98;

      &::before,
      &::after {
         content: '';
         position: absolute;
         top: -1px;
         width: 25px;
         height: calc(100% - 1px);
         background: $greyStuck;
         border-top: 1px solid var(--grey);
         border-bottom: 1px solid var(--grey);

         @include mobile-media-query-down('md') { width: 15px; }

         @include mobile-media-query-down('sm') { width: 10px; }
      }

      &::before {
         left: -25px;

         @include mobile-media-query-down('md') { left: -15px; }

         @include mobile-media-query-down('sm') { left: 0px; }
      }

      &::after {
         right: -25px;

         @include mobile-media-query-down('md') { right: -15px; }

         @include mobile-media-query-down('sm') { right: 0px; }
      }
   }

   & > ul {
      display: flex;
      align-items: center;
      padding: 7.5px 0;
      border-bottom: 1px solid var(--grey);
   
      li {
         font-size: 15px;
         color: var(--light-grey);
      }
   }
}

.tableHeader {
   @include mobile-media-query-down('sm') {
      margin: 0 10px;
   }   

   .index {
      width: 35px;
      text-align: center;
      padding: 0 10px;

      @include mobile-media-query-down('sm') {
         padding: 0 10px 0 0;
      }

      &.hideIndex {         
         @include mobile-media-query-down('sm') {
            display: none;
         }
      }
   }

   .title,
   .album {
      flex-grow: 1;
   }

   .album {
      margin-left: 75px;
      @include mobile-media-query-down('md') {
         display: none;
      }
   }

   .time {
      margin-right: 45px;
      @include mobile-media-query-down('md') { margin-right: 35px; }
      @include mobile-media-query-down('sm') { margin-right: 25px; }
   }
}