$breakpoints: (
   xs: 420,
   sm: 576,
   md: 768,
   lg: 992,
   xl: 1200,
   xxl: 1400,
);

$maxWidth: 1536;
$maxWidthContainer: 1350;

$selectionColor: rgba(41, 123, 245, .5);

$pink: #FF269D;
$brightPink: #ff40a9;
$green: #297bf5;
$darkGrey: #222;
$coalGrey: #333;
$grey: #5C5C5C;
$lightGrey: #838383;
$brightGrey: #CCC;
$red: rgb(255, 0, 0);
$yellow: rgb(255, 243, 16);
$okColor: seagreen;

$hover: all 0.12s linear;
$move: all 0.2s ease-in-out;