$breakpoints: (
   xs: 420px,
   sm: 576px,
   md: 768px,
   lg: 992px,
   xl: 1200px,
   xxl: 1400px,
);

$maxWidth: 1536;
$maxWidthContainer: 1350;

$selectionColor: rgba(41, 123, 245, .5);

$pink: #FF269D;
$green: #297bf5;
$darkGrey: #222;
$grey: #5C5C5C;
$lightGrey: #838383;
$brightGrey: #CCC;
$red: rgb(255, 0, 0);
$yellow: rgb(255, 243, 16);
$okColor: seagreen;

$hover: all 0.12s linear;
$move: all 0.2s ease-in-out;