@import '../../styles/variables';
@import '../../styles/mixins';

// .wrapper {}

.content {
   display: flex;
   flex-direction: column;
   min-height: 100vh;
   
   @include mobile-media-query-up() {
      padding-left: 240px; // width of sidebar
   }

   @include mobile-media-query-down() {
      padding-bottom: 55px; // width of mobile bottom buttons
   }
}