@import '../../styles/variables';
@import '../../styles/mixins';

.spinnerBody {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   background: $darkGrey;
}

.error {
   color: $red
}

.albumLikeButton {
   display: contents;
}

.tableHeader {
   li:nth-child(1) {
      width: 30px;
      text-align: center;
      padding: 0 10px;
   }

   li:nth-child(2) {
      flex-grow: 1;
   }

   li:nth-child(3) {
      margin-right: 42px;
      
      @include mobile-media-query-down('sm') { margin-right: 30px; }
   }
}