@import '../../styles/variables';
@import '../../styles/mixins';

.body {
   position: relative;
   flex-grow: 1;
   padding: 25px;

   @include mobile-media-query-down('md') {
      padding: 15px;
   }

   @include mobile-media-query-down('sm') {
      padding: 10px;
   }
}

.gradientPart,
.plainColorPart {
   position: absolute;
   left: 0;
   width: 100%;
   z-index: -1;
}

.gradientPart {
   top: 0;
   // height: inlineStylesHeight;
}

.plainColorPart {
   // top: inlineStylesHeight;
   // height: calc(100% - inlineStylesHeight);
   background: $darkGrey;
}