@import '../../styles/variables';
@import '../../styles/mixins';

.song {
   display: flex;
   align-items: center;
   padding: 10px;
   transition: var(--hover);

   .songDuration {
      flex-shrink: 0;
      width: 30px;
      text-align: right;
   }

   @include mobile-media-query-down('sm') {
      .songNumber.hideIndex {
         display: none;
      }

      .songDuration {
         font-weight: 300;
         font-size: 14px;
         color: var(--bright-grey);
      }
   }

   @media (any-hover: hover) {
      &:hover,
      &:focus-within {
         background: rgba(255, 255, 255, .1);
         transition: var(--hover);
   
         .dots {
            @include visible-element();
         }
   
         .likeSongButton {
            @include visible-element();
         }
      }
   }
}

.songNumber {
   flex-shrink: 0;
   display: flex;
   align-items: center;
   justify-content: center;
   width: 35px;
   height: 35px;
   margin-right: 10px;
   @include adaptive-value("font-size", 18.5, 15, 0);
}

.photo {
   flex-shrink: 0;
   width: 45px;
   height: 45px;
   margin-right: 10px;
}

.songName {
   @include adaptive-value("font-size", 18, 16, 0);
   font-weight: 500;
   padding-right: 15px;
}

.songLink {
   width: 100%;

   &, a {
      @include adaptive-value("font-size", 14, 12.5, 0);
      font-weight: 300;
      color: #FFFFFF;
   }

   &.albumLink {
      a {
         display: inline-block;

         &:hover {
            text-decoration: underline;
         }
      }

      @include mobile-media-query-down('md') {
         display: none;
      }
   }

   @media (any-hover: hover) {
      &:not(.albumLink):hover {
         text-decoration: underline;
      }
   }
}

.elem,
.playListsLabel {
   display: inline-block;
   width: 190px;
   box-sizing: border-box;
   text-align: left;
   padding: 15px;
   font-size: 16px;
   color: #FFFFFF;
   background: var(--black-grey);
   transition: var(--hover);

   &:hover {
      background: var(--grey);
      transition: var(--hover);

      &:not(.playListsLabel) {
         cursor: pointer;
      }
   }
}


.itemPlayListDropDown {
   position: relative;

   &:hover .dropDownPlayLists {
      @include visible-element();
   }
}

.playListsLabel {
   position: relative;
   cursor: default;

   &::after {
      position: absolute;
      content: '';
      right: 15px;
      top: calc(50% - 3.5px);

      // draw triangle with css
      border-top: 5px solid transparent;
      border-bottom: 5px solid transparent;
      border-left: 7px solid #fff;
   }
}

.likeSongButton {
   margin-right: 10px;
   
   @media (any-hover: hover) {
      @include hidden-element();
   }

   &.liked {
      @include visible-element();
   }

   @include mobile-media-query-down('sm') {
      display: none;
   }
}