@import '../../styles/mixins';

.container {
   display: inline-flex;
   align-items: center;
   gap: 20px;
   margin-bottom: 25px;

   @include mobile-media-query-down('md') { margin-bottom: 15px; }

   @include mobile-media-query-down('sm') {
      display: flex;
      justify-content: center;
      margin: 20px 0 10px 0;
   }
}