@import '../../styles/mixins';
@import '../../styles/variables';
@import '../../styles/index.scss';

.wrapper {
   min-height: 100vh;
   background: $darkGrey;
}

.headerData {
   display: flex;
   gap: 15px;
   margin-left: 15px;
}

.tab {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 40px;
   box-sizing: border-box;
   border: 1.5px solid #ccc;
   padding: 0 15px;
   background: transparent;
   color: #fff;

   &.active {
      background: $grey;
   }
}

.content {
   @include mobile-media-query-up('sm') {
      margin-top: 35px; // headerHeight(60px) - padding(25px)
      padding: 25px;
   }
}