@import '../../styles/mixins';
@import '../../styles/variables';
@import '../../styles/index.scss';

.wrapper {
   min-height: 100vh;
   background: $darkGrey;
}

.headerData {
   display: flex;
   gap: 15px;
   margin-left: 15px;
}

.tab {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 40px;
   box-sizing: border-box;
   border: 1.5px solid #ccc;
   padding: 0 15px;
   background: transparent;
   color: #fff;

   &.active {
      background: $grey;
   }
}

.content {
   @include mobile-media-query-up('sm') {
      margin-top: 35px; // headerHeight(60px) - padding(25px)
      padding: 25px;
   }
}

.heading {
   @include mobile-media-query-up('sm') {
      font-size: 30px;
      margin: 0;
   }
   
   @extend .mobilePageHeading;
}

.grid {
   @include mobile-media-query-up('sm') {
      display: grid;
      grid-gap: 20px;
      grid-template-columns: repeat(auto-fill, minmax(161px, 1fr));
      margin-top: 10px;
   }
}

.card {
   color: #fff;
   display: block;

   @include mobile-media-query-down('sm') {
      &:first-child {
         @include adaptive-value('margin-top', 10, 5, 3, map-get($breakpoints, 'sm'));
      }
   
      &:last-child {
         @include adaptive-value('margin-bottom', 10, 5, 3, map-get($breakpoints, 'sm'));
      }
   }
   
}

.cardBody {
   padding: 12px;
   padding-bottom: 20px;
   background: #333;
   width: auto;

   @include mobile-media-query-down('sm') {
      display: flex;
      align-items: center;
      @include adaptive-value('gap', 16, 12, 3, map-get($breakpoints, 'sm'));
      @include adaptive-value('padding-top', 10, 5, 3, map-get($breakpoints, 'sm'));
      @include adaptive-value('padding-bottom', 10, 5, 3, map-get($breakpoints, 'sm'));
      @include adaptive-value('padding-right', 20, 10, 3, map-get($breakpoints, 'sm'));
      @include adaptive-value('padding-left', 20, 10, 3, map-get($breakpoints, 'sm'));
      background: transparent;
   }
}

.cardInfo {
   flex-grow: 1;
}

.cardImage {
   @include mobile-media-query-up('sm') {
      padding-bottom: 100%;
      box-shadow: 0 8px 24px rgba(0, 0, 0, .5);
   }

   @include mobile-media-query-down('sm') {
      @include adaptive-value('width', 125, 85, 3, map-get($breakpoints, 'sm'));
      @include adaptive-value('height', 125, 85, 3, map-get($breakpoints, 'sm'));
   }
}

.cardTitle {
   margin: 0.8em 0 0.2em 0;
   font-size: 17px;

   @include mobile-media-query-down('sm') {
      margin: 0;
      @include adaptive-value('font-size', 23, 16, 3, map-get($breakpoints, 'sm'));
   }
}

.cardSubTitle {
   font-size: 14px;
   color: $brightGrey;

   @include mobile-media-query-down('sm') {
      @include adaptive-value('font-size', 18, 14, 3, map-get($breakpoints, 'sm'));
   }
}