@import '../../styles/variables';
@import '../../styles/mixins';

.wrapper {
   display: flex;
   flex-direction: column;
   position: fixed;
   top: 100%;
   left: 0;
   width: 100vw;
   height: 100vh;
   box-sizing: border-box;
   background: rgba(0, 0, 0, .85);
   backdrop-filter: blur(3px);
   transition: $move;
   z-index: 101;
   
   &.opened {
      top: 0;
      transition: $move;
   }
}

.body {
   flex-grow: 1;
   padding: 15px;
}

.songInfo {
   display: grid;
   grid-template-columns: auto 1fr auto;
   align-items: center;
   padding-bottom: 15px;
   border-bottom: 1px solid $grey;
}

.photo {
   width: 55px;
   height: 55px;
   margin-right: 15px;
}

.songNamesWrapper {
   align-self: flex-end;
}

.songName {
   font-size: 19px;
   margin-bottom: 3px;
}

.songDuration {
   margin-left: 10px;
}

.actions {
   display: flex;
   flex-direction: column;
   gap: 5px;
   box-sizing: border-box;
   padding: 15px 0;
}

.action {
   display: flex;
   width: 100%;
   padding: 5px 0;
   color: #fff;
   align-items: center;
   font-size: 18px;
   gap: 10px
}

.arrow {
   margin-left: auto;
}

.selectWrapper {
   position: fixed;
   top: 0;
   left: 0;
   width: 100vw;
   height: 100vh;
   background: transparent;
   display: flex;
   align-items: center;
   justify-content: center;
   z-index: 200;
   @include hidden-element();

   backdrop-filter: blur(3px);
   @supports not (backdrop-filter: blur(3px)) {
      background: rgba(0, 0, 0, .8);
   }

   &.selectOpened {
      @include visible-element();
   }
}

.selectBody {
   width: 80vw;
   padding: 20px 0 10px 0;
   text-align: left;
   background: $darkGrey;
}

.selectHeading {
   font-size: 22px;
   margin: 0 20px 5px 20px;
}

.skeletonsContainer {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   gap: 15px;
   margin-top: 15px;
}

.playlistSkeleton { width: 100%; }

.playlistsContainer {
   max-height: 350px;
   overflow: auto;
}

.smallPlaylist {
   display: flex;
   width: 100%;
   padding: 10px 20px;
   flex-direction: column;
   align-items: flex-start;
}

.playlistName,
.playlistCount {
   color: #FFF;
}

.playlistName {
   font-size: 19px;
   font-weight: 600;
}

.cancelButtonContainer {
   text-align: right;
   padding: 10px 15px 5px 20px;
}

.cancelSelection {
   display: inline-block;
   font-size: 17px;
   padding: 5px;
   color: #FFF;
}

.cancel {
   display: inline-block;
   align-self: flex-end;
   width: 100%;
   box-sizing: border-box;
   padding: 15px;
   font-size: 19px;
   color: #FFF;
}